* {
  font-family: Roboto,sans-serif;
  color: #a8a8b3;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1, * p {
  margin-bottom: 0.8em;
}

header {
  border-bottom: 1px solid #a8a8b3;
}

main {
  width: 100vw;
  height: 70vh;
  background-image: url("../src/hero.png");
  background-size: cover;
}

main h1, main p, main a {
  color: #fff;
}

main h1 {
  font-weight: 900;
  font-size: 3em;
  max-width: 40%;
  text-align: center;
}

main p {
  max-width: 40%;
  text-align: center;
  line-height: 25px;
}

.flex-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #121214;
  color: #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

.menu a {
  color: #a8a8b3;
  text-decoration: none;
}

.menu ul {
  list-style-type: none;
}

.menu img {
  padding: 10px;
}

.menu li {
  margin: 10px;
  padding: 10px;
}

.menu nav ul a:hover {
  padding: 36px 0px;
  border-bottom: 2px solid #9370DB;
  color: #fff;
}

.botao-criar {
  border: 1px solid #9370DB;
  padding: 10px 17px;
  border-radius: 5px;
  color: #fff;
}

.botao-criar:hover {
  background-color: #9370DB;
  color: #fff;
}

.button {
  margin-top: 2%;
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  background: #9370DB;
  color: #fff;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 0;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.button img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.button a {
  text-decoration: none;
}

.button:hover {
  background-color: #734bd1;
}

.botao-entrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botao-entrar li {
  margin: 0px;
  padding: 0px;
}

.quem-somos {
  background-color: #121214;
}

.quem-somos a {
  color: #000;
  font-weight: 1000;
}

.titulo h1 {
  padding-top: 20px;
  font-weight: 900;
  font-size: 2.5em;
  max-width: 60%;
  text-align: center;
}

.informacoes {
  width: 50%;
}

.informacoes ul {
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #a8a8b3;
  padding: 0px;
}

.informacoes ul a:hover {
  padding: 18px 0px;
  border-bottom: 2px solid #04d361;
  color: #fff;
}

.informacoes img {
  width: 160px;
  height: 100px;
}

.conteudo-texto h2 {
  max-width: 45%;
  padding: 30px 0px;
}

.conteudo-texto p {
  max-width: 70%;
  padding-bottom: 25px;
}

.button2 {
  margin-top: 2%;
  height: 50px;
  max-width: 230px;
  border-radius: 5px;
  font-weight: 500;
  background: #42d3ff;
  color: #fff;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 0;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.button2 img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.button2 a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */